
.App {
  font-family: sans-serif;
  text-align: center;
}

.component {
  background-color: hsl(50, 30%, 96%);
  width: 25%;
  max-width: 600px;
  margin: 1em auto;
  padding-bottom: 2em;
  border: 0.1px solid black;
  border-radius: 10px;
}

.musicCover {
  border-radius: 10%;
}

.img {
  width: 80%;
}

.playButton {
  background: none;
  border: none;
  align-items: center;
  justify-content: center;
}

.subTitle {
  margin-top: -1em;
  color: hsl(220, 88%, 17%);
}

.time {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: hsl(250, 70%, 48%);
  font-size: smaller;
}

.timeline {
  width: 80%;
  /* background-color: hsl(150, 95%, 38%); */
}

/* input[type="range"] {
  background-color: #27ae60;
} */

@media (max-width: 700px) {
  .component {
    width: 50%;
  } 
}

